* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 77%;
  overflow-x: hidden;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #242a32;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
